# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store
docker/dstrad
docker/trawd
docker/miniupnpc-1.9.20140401.tar.gz
docker/go1.10.3.linux-amd64.tar.gz
docker/libs

.virtualgo
vendor
/go-pos-service
